/*
Esto es un comentario

SELECTOR {
    propiedad: valor;
}


*/

body {
    background-color: black;
    color: white;
    margin: 0;
}

footer {
    background-color: gray !important;
    /* */
    /*font-size: 0vh;*/
    font-family: 'ZCOOL KuaiLe', cursive;
    /*
    vw : el ancho del viewport
    vh: el alto del viewport
    */
}

nav {
    background-color: #cc0000;
    width: 100vw;
    min-height: 2.8em;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cc0000;
}

nav ul li {
    display: block;
    float: left;
    padding-top: 1px;
    padding-bottom: 1px;
}

nav ul li {
    background-color: #cc0000;
}

nav ul li:hover {
    background-color: #000;
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
    display: block;
}

nav ul li i {
    color: white;
}

@media screen and (max-width: 600px) {
    nav ul li {
        float: none;
    }
}


/**************************************************/


/*             Aca van los ID                    */


/**************************************************/


/* Lo usamos con ID en los atributos de HTML*/

#login001 {
    background-color: blueviolet;
}


/**************************************************/


/*             articles                           */


/**************************************************/

section {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 100vw;
    text-align: center;
}

article {
    text-align: left;
    vertical-align: middle;
    flex: 25vw;
    max-width: 260px;
    padding: 10px;
}

article img {
    width: 95%;
    min-width: 150px;
    max-width: 25vw;
}

article img:hover {
    filter: grayscale(100%);
}

article img:active {
    box-shadow: 1px 1px 4px #ededed;
}